<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="images/logo.svg" alt="">
        </div>
      </nav>
      <section class="controls row">
        <div class="task-form col-md-6">
          <div class="form-group">
            <label>+ New task</label>
            <input type="text" class="form-control text" v-model="text">
            <button class="submit" @click="addTask()">Add Task</button>
          </div>
        </div>
      </section>
      <section class="list">
        <ul>
          <li v-for="todo in todos">
            <img src="images/completed.svg" alt="" v-if="todo.completed"> 
            <img src="images/pending.svg" alt="" v-else> 
            {{todo.text}}
          </li>
        </ul>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>